{
    "parser": "babel-eslint",
    "rules": {
        "strict": 0,
        "semi": ["error", "always"],
        "quotes": ["error", "single"],
        "jsx-quotes": [2, "prefer-double"],
        "no-class-assign": 1
    },
     "env": {
        "browser": true,
        "node": true,
        "es6": true
    }
}

